<div class="static-sidebar-wrapper {{getLayoutOption('sidebarThemeClass')}}">
  <div class="static-sidebar" role="navigation">
    <div class="sidebar">
      <div class="widget" ng-cloak>
            <div class="widget-body">
                <div class="userinfo">
                    <div class="avatar">
                        <img masked-image src="assets/demo/avatar/avatar_11.png" class="img-responsive img-circle">
                    </div>
                    <div class="info">
                        <span class="username">Jonathan Smith</span>
                        <span class="useremail">jon@avenxo.com</span>
                    </div>
                </div>
            </div>
      </div>
      <div class="widget stay-on-collapse">
        <nav class="widget-body">
          <ul ng-controller="NavigationController" class="acc-menu" sticky-scroll="40">
            <li
              ng-repeat="item in menu"
              ng-class="{
                hasChild: (item.children!==undefined),
                active: item.selected,
                open: (item.children!==undefined)  && item.open,
                'nav-separator': item.separator==true,
                'search-focus': (searchQuery.length>0 && item.selected)
              }"
              ng-show="!(searchQuery.length && !item.selected)"
              ng-include="'views/templates/nav_renderer.html'">
            </li>
          </ul>
        </nav>
      </div>

      <div class="widget" id="widget-progress" ng-cloak>
        <div class="widget-heading">
          Progress
        </div>
        <div class="widget-body">
          <div class="mini-progressbar">
            <div class="clearfix mb-sm">
              <div class="pull-left">Bandwidth</div>
              <div class="pull-right">50%</div>
            </div>
            <div class="progress">    
              <div class="progress-bar progress-bar-lime" style="width: 50%"></div>
            </div>
          </div>
          <div class="mini-progressbar">
            <div class="clearfix mb-sm">
              <div class="pull-left">Storage</div>
              <div class="pull-right">25%</div>
            </div>
            <div class="progress">    
              <div class="progress-bar progress-bar-info" style="width: 25%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>