<!-- {
  "ativo": true,
  "hierarquia": [
    {}
  ],
  "hierarquiaPai": {},
  "nome": "string",
  "tipoHierarquia": "string",
  "uuid": 0,
  "uuidCedente": 0,
  "uuidhierarquia": 0,
  "uuidUsuario": 0
} -->
<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/dashboard">Dashboard</a></li>
    <li><a href="#/comercial/hierarquias/listar">Hierarquias</a></li>
    <li class="active">Novo</li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading">
          <h2>Cadastrar nova Hierarquia</h2>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <form role="form" class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Nome
                  </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="hierarquia.nome">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Tipo
                  </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="hierarquia.descricao">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Hierarquia Pai
                  </label>
                  <div class="col-md-8">
                    <em>select2</em>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label class="col-md-2 control-label">
                    Cedente
                  </label>
                  <div class="col-md-8">
                    <em>select2</em>
                  </div>
                </div> -->
                <!-- <div class="form-group">
                  <label class="col-md-2 control-label">
                    Usuário
                  </label>
                  <div class="col-md-8">
                    <em>select2</em>
                  </div>
                </div> -->

                <div class="form-group">
                  <label for="organizationName" class="col-md-2 control-label">Ativo</label>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <label class="radio-inline">
                          <input type="radio" name="ativo" ng-model="hierarquia.ativo" id="inlineRadio1" ng-value="true"> Sim
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="ativo" ng-model="plataform.ativo" id="inlineRadio2" ng-value="false"> Não
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-2">
                    <button class="btn btn-danger-alt pull-left" ui-sref="wba.comercial.hierarquias.listar"><i class="fa fa-times"></i> Cancelar</button>
                    <button class="btn btn-primary pull-right" ng-click="save(hierarquia)"><i class="fa fa-save"></i> Salvar</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>