<div class="modal-header">
  Cadastrar nova hierarquia
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal" novalidate name="formHierarquia">
    <fieldset>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Nome
        </label>
        <div class="col-md-8">
          <input type="text" class="form-control" ng-model="hierarquia.nome" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Tipo de Hierarquia
        </label>
        <div class="col-md-8">
          <select class="form-control" ng-model="hierarquia.tipoHierarquia">
            <option value="">Selecione...</option>
            <option value="COMERCIAL">Comercial</option>
            <option value="INDICANTE">Indicante</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Plataforma
        </label>
        <div class="col-md-8">
          <select class="form-control"
                  ng-model="hierarquia.uuidPlataforma"
                  disabled
                  ng-options="p.uuid as p.nome for p in plataformas">
            <option value="">Selecione uma plataforma...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Cedente
        </label>
        <div class="col-md-8">
          <div class="input-group">
            <ui-select multiple ng-model="hierarquia.uuidCedentes" theme="bootstrap" sortable="true" close-on-select="false" style="width: 395px !important;">
              <ui-select-match placeholder="Selecione o(s) cedente(s)">{{$item.nomeFantasia}}</ui-select-match>
              <ui-select-choices repeat="c.id as c in cedentes">
                {{c.nomeFantasia | highlight: $select.search}}<br>
                <small>
                  {{c.razaoSocial}}
                </small>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Root</label>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <label class="checkbox">
                <input type="checkbox" class="switchery-sm" ui-switch="{color: $parent.getBrandColor('primary')}" ng-model="hierarquia.root" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Ativo</label>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <label class="checkbox">
                <input type="checkbox" class="switchery-sm" ui-switch="{color: $parent.getBrandColor('primary')}" ng-model="hierarquia.ativo" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="row">
    <div class="col-md-12">
<pre>{{hierarquia | json}}</pre>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger-alt" ng-click="cancel()"><i class="fa fa-times"></i> Cancelar</button>
  <button class="btn btn-primary pull-right" ng-click="salvarHierarquia(hierarquia)">
    <i class="fa fa-save"></i> Salvar
  </button>
</div>
