<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/">Dashboard</a></li>
    <li>Operações</li>
    <li class="active">Carteiras</li>
</ol>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading">
          Carteira - {{carteira.nome}}
        </div>
        <div class="panel-body">
          <form role="form" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-2 control-label">Nome</label>
                <div class="col-md-10">
                  <input type="text" ng-model="carteira.nome" class="form-control">
                </div>
              </div>
              <div class="panel panel-indigo">
                <div class="panel-heading">
                  Tarifas
                </div>
                <div class="panel-body">
                  <div class="alert alert-info alert-sm">
                    <i class="fa fa-info-circle"></i> Para adicionar tarifas a esta carteira, utilize o formulário abaixo
                  </div>
                  <hr>
                  <div class="col-md-12 well">
                    <div class="form-group">
                      <label class="col-md-2 control-label">
                        Tarifa
                      </label>
                      <div class="col-md-10">
                        <select ng-model="tarifa.uuid" class="form-control"
                        ng-options="tar.uuid as tar.codigoLancamento for tar in tarifas">
                          <option value="">Selecione...</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label">
                        Valor
                      </label>
                      <div class="col-md-10">
                        <input type="text" name="valor" ng-model="tarifa.valor" ng-currency>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-10 col-md-offset-2">
                        <button class="btn btn-primary pull-right" ng-click="saveTarifa(tarifa)">
                          <i class="fa fa-save"></i> Adicionar tarifa
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
