<div class="modal-header">
  Atualizar Carteira
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="col-md-2 control-label">Nome</label>
        <div class="col-md-10">
          <input type="text" ng-model="carteira.nome" class="form-control">
        </div>
      </div>
      <div class="panel panel-indigo">
        <div class="panel-heading">
          Tarifas
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Código</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  COD
                </td>
                <td>
                  0
                </td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-info alert-sm">
            <i class="fa fa-info-circle"></i> Para adicionar tarifas a esta carteira, utilize o formulário abaixo
          </div>
          <hr>
          <div class="col-md-12 well">
            <div class="form-group">
              <label class="col-md-2">
                Tarifa
              </label>
              <div class="col-md-10">
                <select ng-model="tarifa.uuid" class="form-control"
                ng-options="tar.ordem as tar.codigoLancamento for tar in tarifas">
                  <option value="">Selecione...</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2">
                Valor
              </label>
              <div class="col-md-10">
                <input type="text" name="valor" ng-model="tarifa.valor" ng-currency>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-2">
                <button class="btn-block btn btn-primary">
                  Adicionar tarifa
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" ng-click="salvar(carteira, carteira.uuid)"><i class="fa fa-save"></i> Salvar</button>
  <button class="btn btn-danger-alt pull-left" ng-click="close()"><i class="fa fa-times"></i> Cancelar</button>
</div>
