<div class="row vertical-divider">
  <div class="col-md-7">
    <form role="form" class="form form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Nome
          </label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="conta.nome">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Tipo Conta
          </label>
          <div class="col-md-10">
            <select class="form-control" ng-model="conta.tipoConta">
              <option value=""></option>
              <option value="ATIVO">Ativo</option>
              <option value="PASSIVO">Passivo</option>
              <option value="DESPESA">Despesa</option>
              <option value="RECEITA">Receita</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Banco
          </label>
          <div class="col-md-10">
            <input
              type="text"
              ng-model="conta.uuidBanco"
              placeholder="Selecione o banco.."
              typeahead="bnc as bnc.nome for bnc in bancos | filter: $viewValue"
              typeahead-loading="loadingLocations"
              class="form-control">
            <i ng-show="loadingLocations" class="pull-right glyphicon glyphicon-refresh"></i>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Saldo
          </label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="conta.saldo" ng-currency>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Ativo
          </label>
          <div class="col-md-10">
            <switch id="enabled" name="enabled" ng-model="conta.ativo" class="green fix-switch"></switch>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-5">
    <form role="form" class="form form-horizontal" ng-show="openInfoBox">
      <fieldset>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Agência
          </label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="info.agencia">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Número
          </label>
          <div class="col-md-10">
            <input type="text" ng-model="info.numero" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Ativo
          </label>
          <div class="col-md-10">
            <switch id="enabled" name="enabled" ng-model="info.ativo" ng-init="info.ativo = true" class="green fix-switch"></switch>
          </div>
        </div>
      </fieldset>
    </form>
    <button class="btn btn-block btn-primary" ng-click="addInfo()" ng-show="!openInfoBox">
      <i class="fa fa-plus"></i> Adicionar informação bancária
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group pull-right" ng-click="showTransForm = !showTransForm">
      <button class="btn btn-info">
        <i class="fa fa-plus"></i> Criar transações
      </button>
      <button class="btn btn-primary" ng-click="update(conta, info)">
        <i class="fa fa-save"></i> Atualizar
      </button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12" ng-if="showTransForm">
    <div class="alert alert-info">
      <h5>Nova transação</h5>
      <form role="form" class="form-horizontal">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-3 control-label">
                Descrição
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" ng-model="transacao.descricao">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-3 control-label">
                Referência
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" ng-model="transacao.referencia">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-3 control-label">
                Data
              </label>
              <div class="col-md-9">
                <p class="input-group datepicker-holder">
                  <input
                    type="text"
                    class="form-control"
                    datepicker-popup="dd/MM/yyyy"
                    ng-model="transacao.dataContabil"
                    is-open="opened"
                    datepicker-options="dateOptions"
                    close-text="Fechar" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row vertical-divider">
          <div class="col-md-12">
            <h5 class="text-left">Lançamentos</h5>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="alert alert-warning" ng-if="transacao.lancamentos.length == 0">
                      <i class="fa fa-info-circle fa-5x"></i>
                      <p>
                        Não existem lançamentos cadastrados
                      </p>
                    </div>
                  </div>
                  <div class="col-md-12" style="padding: 0" ng-if="transacao.lancamentos.length > 0">
                    <table class="table table-striped table-bordered">
                      <thead>
                      <tr>
                        <th>Data Criação</th>
                        <th>Valor</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="lnc in transacao.lancamentos track by $index">
                        <td>{{lnc.createdAt | date: 'dd/MM/yyyy'}}</td>
                        <td ng-class="{'red': lnc.valor < 0}">{{lnc.valor | currency}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <h5>Conta Origem</h5>
                    <div class="form-group">
                      <label class="control-label col-md-2">
                        Conta
                      </label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" typeahead="cnt as cnt.nome for cnt in contas" ng-model="origem.uuidConta" disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-2">
                        Valor
                      </label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="origem.valor" ng-currency>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h5>Conta Destino</h5>
                    <div class="form-group">
                      <label class="control-label col-md-2">
                        Conta
                      </label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" typeahead="cnt as cnt.nome for cnt in contas" ng-model="destino.uuidConta">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-2">
                        Valor
                      </label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="destino.valor" ng-currency>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2">
                    &nbsp;
                  </label>
                  <div class="col-md-10">
                    <button class="btn btn-info pull-right" ng-click="addLancamentoToTransacao(origem, destino)">
                      <i class="fa fa-plus"></i>
                      Adicionar Lançamento
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary pull-right" ng-click="addTransacao(transacao)">
                  <i class="fa fa-save"></i> Salvar Transação
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-indigo">
      <div class="panel-heading">
        <h2>Transaçôes</h2>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Data</th>
              <th class="text-center">Conta</th>
              <th class="text-center">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="lnc in lancamentos">
              <td>{{lnc.createdAt}}</td>
              <td class="text-center">
                {{lnc.uuidConta.nome}}
              </td>
              <td class="text-center" ng-class="{'red': lnc.valor < 0}">
                {{lnc.valor | currency}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
