<div class="row vertical-divider">
  <div class="col-md-7">
    <form role="form" class="form form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Nome
          </label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="conta.nome">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Tipo Conta
          </label>
          <div class="col-md-10">
            <select class="form-control" ng-model="conta.tipoConta">
              <option value=""></option>
              <option value="ATIVO">Ativo</option>
              <option value="PASSIVO">Passivo</option>
              <option value="DESPESA">Despesa</option>
              <option value="RECEITA">Receita</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Banco
          </label>
          <div class="col-md-10">
            <input
              type="text"
              ng-model="conta.uuidBanco"
              placeholder="Selecione o banco.."
              typeahead="bnc as bnc.nome for bnc in bancos | filter: $viewValue"
              typeahead-loading="loadingLocations"
              class="form-control">
            <i ng-show="loadingLocations" class="pull-right glyphicon glyphicon-refresh"></i>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Saldo
          </label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="conta.saldo" ng-currency>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Ativo
          </label>
          <div class="col-md-10">
            <switch id="enabled" name="enabled" ng-model="conta.ativo" class="green fix-switch"></switch>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-5">
    <form role="form" class="form form-horizontal" ng-show="openInfoBox">
      <fieldset>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Agência
          </label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="info.agencia">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Número
          </label>
          <div class="col-md-10">
            <input type="text" ng-model="info.numero" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            Ativo
          </label>
          <div class="col-md-10">
            <switch id="enabled" name="enabled" ng-model="info.ativo" ng-init="info.ativo = true" class="green fix-switch"></switch>
          </div>
        </div>
      </fieldset>
    </form>
    <button class="btn btn-block btn-primary" ng-click="addInfo()" ng-show="!openInfoBox">
      <i class="fa fa-plus"></i> Adicionar informação bancária
    </button>
  </div>
</div>

<div class="col-md-12">
  <button class="btn btn-primary pull-right" ng-click="update(conta, info)">
    <i class="fa fa-save"></i> Atualizar
  </button>
</div>
