<ol class="breadcrumb">
  <li><a href="#/">Dashboard</a></li>
  <li>Financeiro</li>
  <li class="active">Centro de Custo</li>
</ol>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading">
          <h2>Centro de Custo</h2>
          <div class="panel-ctrls">
            <a class="button-icon" ng-click="addCentroCusto()" tooltip="Criar Centro de Custo">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Ativo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cc in centrosCusto">
                <td>{{cc.nome}}</td>
                <td>
                  <i class="fa" ng-class="{'fa-check green': cc.ativo, 'fa-times red': !cc.ativo}"></i>
                </td>
                <td>
                  <div class="btn-group pull-right">
                    <button class="btn btn-danger-alt" ng-click="deleteCentroCusto(cc)"><i class="fa fa-trash-o"></i></button>
                    <button class="btn btn-primary" ng-click="updateCentroCusto(cc)"><i class="fa fa-pencil"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div> <!-- container-fluid -->
