<div class="modal-header">
  Editar Banco - {{banco.nome}}
</div>
<div class="modal-body">
  <form action="" role="form" class="form form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="" class="col-md-2 control-label">
          Nome
        </label>
        <div class="col-md-10">
          <input type="text" class="form-control" ng-model="banco.nome">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-md-2 control-label">
          Número
        </label>
        <div class="col-md-10">
          <input type="text" class="form-control" ng-model="banco.numero">
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="pull-left btn btn-danger-alt" ng-click="cancel()"><i class="fa fa-times"></i> Cancelar</button>
  <button class="pull-right btn btn-primary" ng-click="update(banco)"><i class="fa fa-save"></i> Atualizar</button>
</div>
