<ol class="breadcrumb" style="margin: 0 0 15px 0">
  <li><a href="#/">Dashboard</a></li>
  <li>Organizações</li>
  <li>Usuários</li>
  <li class="active">Grupos</li>

</ol>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading header-section">
          <h2>Organizações <small>Usuários</small> <small>Grupos</small></h2>
          <div class="panel-ctrls">
            <a class="button-icon" ui-sref="wba.organizacoes.usuarios.listar({organizacaoId: organizacaoId})">
              <i class="fa fa-chevron-left"></i>
            </a>
          </div>
        </div>
        <div class="panel-body">
          GRUPOS
        </div>
      </div>
    </div>
  </div>
</div>