<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/">Dashboard</a></li>
    <li class="active">Organizações</li>
    
</ol>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
        <div class="panel panel-indigo">
          <div class="panel-heading">
            <h2>Organizações</h2>
            <div class="panel-ctrls">
              <a class="button-icon" href="#/organizacoes/novo">
                <i class="fa fa-file-o"></i>
              </a>
            </div>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <td>Id</td>
                  <td>Cnpj</td>
                  <td>Nome</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>00.000.000/0000-11</td>
                  <td>CODEHOUSE</td>
                  <td>
                    <div class="btn-group pull-right">
                      <button class="btn btn-sm btn-danger">
                        <i class="fa fa-trash-o"></i>
                      </button>
                      <button class="btn btn-sm btn-primary">
                        <i class="fa fa-pencil"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

            <!-- <panel panel-class="panel-info" heading="Listagem de Organizações">
                
            </panel> -->
        </div>
    </div>

</div> <!-- container-fluid -->
