<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/">Dashboard</a></li>
    <li class="active">Organizações</li>
    
</ol>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
        <div class="panel panel-indigo">
          <div class="panel-heading">
            <h2>Organizações</h2>
            <div class="panel-ctrls">
              <a class="button-icon" href="#/organizacoes/novo">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <!-- <td>Id</td> -->
                  <td>Cnpj</td>
                  <td>Nome</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in orgs track by $index">
                  <!-- <td>1</td> -->
                  <td ng-bind="item.cnpj"></td>
                  <td ng-bind="item.nome"></td>
                  <td>
                    <button class="btn btn-sm btn-success" ui-sref="wba.organizacoes.usuarios.listar({organizacaoId: item.id})">
                      <i class="fa fa-group"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

            <!-- <panel panel-class="panel-info" heading="Listagem de Organizações">
                
            </panel> -->
        </div>
    </div>

</div> <!-- container-fluid -->
