
<div class="modal-header">
  <h3 class="modal-title">Cadastrar novo Usuário</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="orgForm">
    <fieldset>  
      <div class="form-group">
        <label for="userName" class="col-md-2 control-label">Nome de Usuário</label>
        <div class="col-md-6">
          <input type="text" name="nome" class="form-control" id="userName" ng-model="user.usuario" placeholder="Nome de usuário">
        </div>
      </div>
      <div class="form-group">
        <label for="userFullmame" class="col-md-2 control-label">Nome Complesto</label>
        <div class="col-md-6">
          <input type="text" name="nome" class="form-control" id="userFullmame" ng-model="user.nome" placeholder="Nome Completo">
        </div>
      </div>
      <div class="form-group has-feedback" ng-class="{'has-success': !orgForm.userEmail.$invalid, 'has-error': orgForm.userEmail.$invalid}">
        <label for="userEmail" class="col-md-2 control-label">Email</label>
        <div class="col-md-6">
          <input type="text" id="userEmail" name="userEmail" class="form-control" minlength="18" maxlength="18" ng-model="user.email">
          <span id="helpBlock2" class="help-block" ng-show="orgForm.userEmail.$invalid">E-mail inválido</span>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger-alt pull-left" ng-click="close()">
    <i class="fa fa-times"></i> Cancelar
  </button>
  <button class="btn btn-primary" ng-click="salvar(user)">
    <i class="fa fa-save"></i> Salvar
  </button>
</div>