<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a ui-sref="wba.dashboard">Dashboard</a></li>
    <li><a ui-sref="wba.usuarios-permissoes.organizacoes.listar">Organizações</a></li>
    <li class="active">Usuários</li>
    
</ol>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
        <div class="panel panel-indigo">
          <div class="panel-heading header-section">
            <button class="btn btn-voltar btn-primary-alt pull-left" ui-sref="wba.usuarios-permissoes.organizacoes.listar">
              <i class="fa fa-chevron-left"></i>
            </button>
            <h2>Organizações <small>Usuários</small></h2>
            <div class="panel-ctrls">
              <a class="button-icon" ng-click="openModal()">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="panel-body">
            <table class="table table-striped fix-table-vertical-alignment">
              <thead>
                <tr>
                  <td>Nome de Usuário</td>
                  <td>Nome Completo</td>
                  <td>Email</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users track by $index">
                  <td ng-bind="user.usuario"></td>
                  <td ng-bind="user.nome"></td>
                  <td ng-bind="user.email"></td>
                  <td>
                    <div class="btn-group">
                      <button class="btn btn-primary-alt" tooltip="Roles" ui-sref="wba.usuarios-permissoes.organizacoes.usuarios.roles.listar({organizacaoId: '{{organizacaoId}}', usuarioId: user.id})">
                        <i class="fa fa-lock"></i>
                      </button>
                      <button class="btn btn-info-alt" tooltip="Grupos" ui-sref="wba.usuarios-permissoes.organizacoes.usuarios.grupos.listar({organizacaoId: '{{organizacaoId}}', usuarioId: user.id})">
                        <i class="fa fa-group"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

            <!-- <panel panel-class="panel-info" heading="Listagem de Organizações">
                
            </panel> -->
        </div>
    </div>

</div> <!-- container-fluid -->
