<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/dashboard">Dashboard</a></li>
    <li><a href="#/comercial/hierarquias/listar">Hierarquias</a></li>
    <li class="active">Novo</li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading">
          <h2>Cadastrar nova Hierarquia</h2>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <form role="form" class="form-horizontal" novalidate name="formHierarquia">
              <fieldset>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Nome
                  </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="hierarquia.nome" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Tipo de Hierarquia
                  </label>
                  <div class="col-md-8">
                    <select class="form-control" ng-model="hierarquia.tipoHierarquia">
                      <option value="">Selecione...</option>
                      <option value="COMERCIAL">Comercial</option>  
                      <option value="INDICANTE">Indicante</option>  
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Hierarquia Pai
                  </label>
                  <div class="col-md-8">
                    <select class="form-control"
                      ng-model="hierarquia.hierarquiaPai"
                      ng-options="item as item.nome for item in hierarquias"
                      ng-change="addHierarquia(hierarquia.hierarquiaPai)">
                      <option value="">Selecione uma hierarquia...</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Plataforma
                  </label>
                  <div class="col-md-8">
                    <select class="form-control"
                      ng-model="hierarquia.uuidPlataforma"
                      ng-options="plataforma.uuid as plataforma.nome for plataforma in plataformas">
                      <option value="">Selecione uma hierarquia...</option>
                    </select>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label class="col-md-2 control-label">
                    Cedente
                  </label>
                  <div class="col-md-8">
                    <em>select2</em>
                  </div>
                </div> -->
                <!-- <div class="form-group">
                  <label class="col-md-2 control-label">
                    Usuário
                  </label>
                  <div class="col-md-8">
                    <em>select2</em>
                  </div>
                </div> -->

                <div class="form-group">
                  <label for="organizationName" class="col-md-2 control-label">Ativo</label>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <label class="radio-inline">
                          <input type="radio" name="ativo" ng-model="hierarquia.ativo" id="inlineRadio1" ng-value="true"> Sim
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="ativo" ng-model="hierarquia.ativo" id="inlineRadio2" ng-value="false"> Não
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-2">
                    <button class="btn btn-danger-alt pull-left" ui-sref="wba.comercial.hierarquias.listar"><i class="fa fa-times"></i> Cancelar</button>
                    <button class="btn btn-primary pull-right" ng-disabled="formHierarquia.$invalid" ng-click="save(hierarquia)"><i class="fa fa-save"></i> Salvar</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>