<div class="table-responsive table-bordered">
 <table class="table tree-grid">
   <thead>
     <tr>
         <th>{{expandingProperty.displayName || expandingProperty.field || expandingProperty}}</th>
         <th ng-repeat="col in colDefinitions">{{col.displayName || col.field}}</th>
       </tr>
   </thead>
   <tbody>
     <tr ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid"
       ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')" class="tree-grid-row">
       <td>
         <a ng-click="user_clicks_branch(row.branch)">
            <i ng-class="row.tree_icon" ng-click="row.branch.expanded = !row.branch.expanded" class="indented tree-icon"></i>
         </a>
         <span class="indented tree-label" ng-click="on_user_click(row.branch)">
           {{row.branch[expandingProperty.field] || row.branch[expandingProperty]}}
         </span>
       </td>
       <td ng-repeat="col in colDefinitions" class="text-center">
         <div ng-if="col.cellTemplate" compile="col.cellTemplate"></div>
         <div ng-if="!col.cellTemplate">teste</div>
       </td>
     </tr>
   </tbody>
 </table>
</div>
