<div class="modal-header">
  Cadastrar nova Tarifa
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="col-md-2 control-label">Cód.</label>
        <div class="col-md-4">
          <input type="text" ng-model="tarifa.codigoLancamento" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Descrição
        </label>
        <div class="col-md-10">
          <input type="text" class="form-control" ng-model="tarifa.descricao">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Ordem
        </label>
        <div class="col-md-2">
          <input type="number" min-value="0" class="form-control" ng-model="tarifa.ordem">
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" ng-click="salvar(tarifa)"><i class="fa fa-save"></i> Salvar</button>
  <button class="btn btn-danger-alt pull-left" ng-click="close()"><i class="fa fa-times"></i> Cancelar</button>
</div>

<!-- {
  "codigoLancamento": "string",
  "descricao": "string",
  "escopo": "OPERACAO",
  "ordem": 0,
  "tipo": "VALOR"
} -->