<div class="modal-header">
  Atualizar Tarifa
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="col-md-2 control-label">Código</label>
        <div class="col-md-4">
          <select
            class="form-control"
            ng-model="tarifa.uuidTipoLancamento"
            ng-options="tipo as tipo.codigo for tipo in tipos">
            <option value="">Selecione...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Descrição
        </label>
        <div class="col-md-10">
          <input type="text" class="form-control" ng-model="tarifa.uuidTipoLancamento.descricao">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Ordem
        </label>
        <div class="col-md-2">
          <input type="number" min-value="0" class="form-control" ng-model="tarifa.ordem">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Escopo
        </label>
        <div class="col-md-6">
          <select ng-model="tarifa.escopo" class="form-control">
            <option value=""></option>
            <option value="OPERACAO">Operação</option>
            <option value="RECEBIVEL">Recebível</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Tipo
        </label>
        <div class="col-md-6">
          <select ng-model="tarifa.tipo" class="form-control">
            <option value=""></option>
            <option value="VALOR">Valor</option>
            <option value="PORCENTAGEM">Porcentagem</option>
          </select>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" ng-click="salvar(tarifa, tarifa.uuid)"><i class="fa fa-save"></i> Salvar</button>
  <button class="btn btn-danger-alt pull-left" ng-click="close()"><i class="fa fa-times"></i> Cancelar</button>
</div>
