<ol class="breadcrumb">
  <li><a href="#/">Dashboard</a></li>
  <li>Financeiro</li>
  <li class="active">Extras</li>
</ol>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading">
          <h2>Extras</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Data</th>
                <th>Conta</th>
                <th>Valor</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="lnc in lancamentos">
                <td>{{lnc.createdAt | date: 'dd/MM/yyyy'}}</td>
                <td>{{lnc.uuidConta.nome}}</td>
                <td ng-class="{'red': lnc.valor < 0}">{{lnc.valor | currency}}</td>
                <td>
                  <button class="btn btn-primary" tooltip="Efetivar Lançamento" ng-click="efetivarLancamento(lnc.uuid)">
                    <i class="fa fa-check"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div> <!-- container-fluid -->
