<div class="modal-header">
  <h3 class="modal-title">Cadastrar novo Grupo</h3>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-8">
        <input type="text" ng-model="grupo.nome" class="form-control">
      </div>
      <!-- <div class="col-sm-2">
        <p class="help-block">
          <i class="fa fa-times"></i> Validation
        </p>
      </div> -->
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger-alt pull-left" ng-click="close()">
    <i class="fa fa-times"></i> Cancelar
  </button>
  <button class="btn btn-primary" ng-click="salvar(grupo)">
    <i class="fa fa-save"></i> Salvar
  </button>
</div>