<div class="modal-header">
  Confirmar Conferência
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-md-3 control-label">
        Data de Entrega
      </label>
      <div class="col-md-9">
        <p class="input-group datepicker-holder">
          <input
            type="text"
            class="form-control"
            datepicker-popup="dd/MM/yyyy"
            ng-model="confirmacao.dataEntrega"
            is-open="opened"
            datepicker-options="dateOptions"
            close-text="Fechar" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">
        Responsável
      </label>
      <div class="col-md-10">
        <input type="text" class="form-control" ng-model="confirmacao.responsavel">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger-alt pull-left">
    <i class="fa fa-times"></i> Cancelar
  </button>
  <button class="btn btn-primary pull-right" ng-click="save(confirmacao)"><i class="fa fa-save"></i> Salvar</button>
</div>
