<div class="modal-header">
  Adicionar Anexo à Conferência
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 control-label">
        Anexos
      </label>
      <div class="col-md-10">
        <tags-input ng-model="anexos"></tags-input>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger-alt pull-left" ng-click="cancel()">
    <i class="fa fa-times"></i> Cancelar
  </button>
  <button class="btn btn-primary pull-right" ng-click="save(anexos)">
    <i class="fa fa-save"></i> Salvar
  </button>
</div>
