<div class="modal-header">
  Adicionar Anexo à Conferência
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 control-label">
        Anexo
      </label>
      <div class="col-md-10">
        <input type="file" ng-model="file" base-sixty-four-input class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger-alt pull-left" ng-click="cancel()">
    <i class="fa fa-times"></i> Cancelar
  </button>
  <button class="btn btn-primary pull-right" ng-click="save(file.base64)">
    <i class="fa fa-save"></i> Salvar
  </button>
</div>
