<div class="panel panel-indigo">
  <div class="panel-heading">
    Reprensentantes
  </div>
  <div class="panel-body">
    <button class="btn-block btn-primary-alt text-center" ui-sref="wba.empresas.novo.representante({empresaId: empresaId})">
      OPS, nenhum resultado foi encontraro, para adicionar um representante clique aqui!
    </button>
    <table class="table table-striped" ng-show="representantes.length > 0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>CPF</th>
          <th>Papel</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rep in representantes track by $index">
          <td ng-bind="rep.nome"></td>
          <td ng-bind="rep.email"></td>
          <td ng-bind="rep.cpf"></td>
          <td ng-bind="rep.papel"></td>
          <td><button class="btn btn-warning-alt"><i class="fa fa-pencil"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
