<div class="panel panel-indigo">
  <div class="panel-heading">
    Endereços
    <div class="panel-ctrls">
      <a class="button-icon" ng-click="openModal('new')">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="panel-body">
    <p class="text-center" ng-show="enderecos.length == 0">
      Nenhum resultado foi encontrado, clique no botão <i class="fa fa-plus"></i> para adicionar um item.
    </p>
    <table class="table table-striped" ng-show="enderecos.length > 0">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Logradouro</th>
          <th>No</th>
          <th>CEP</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>UF</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="end in enderecos track by $index">
          <td ng-bind="end.tipo"></td>
          <td ng-bind="end.logradouro"></td>
          <td ng-bind="end.numero"></td>
          <td ng-bind="end.cep"></td>
          <td ng-bind="end.bairro"></td>
          <td ng-bind="end.cidade"></td>
          <td ng-bind="end.uf"></td>
          <td>
            <div class="btn-group">
              <button class="btn btn-danger-alt" ng-click="delete(end.id)"><i class="fa fa-trash"></i></button>
              <button class="btn btn-warning" ng-click="openModal('edit',end.id)"><i class="fa fa-pencil"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
