<div class="panel panel-indigo">
  <div class="panel-heading">
    Contatos
    <div class="panel-ctrls">
      <a class="button-icon" ng-click="openModal('new')">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="panel-body">
    <p class="text-center" ng-show="contatos.length == 0">
      Nenhum resultado foi encontrado, clique no botão <i class="fa fa-plus"></i> para adicionar um item.
    </p>
    <table class="table table-striped" ng-show="contatos.length > 0">
      <thead>
        <tr>
          <th>Departamento</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Fax</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cnt in contatos track by $index">
          <td ng-bind="cnt.departamento"></td>
          <td ng-bind="cnt.email"></td>
          <td ng-bind="cnt.telefone"></td>
          <td ng-bind="cnt.fax"></td>
          <td>
            <div class="btn-group">
              <button class="btn btn-danger-alt" ng-click="delete(cnt.id)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-warning" ng-click="openModal('edit', cnt.id)"><i class="fa fa-pencil"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
