<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/">Dashboard</a></li>
    <li class="active">Empreas</li>
    
</ol>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
        <div class="panel panel-indigo">
          <div class="panel-heading header-section">
            
            <h2>Empresas</h2>
            <div class="panel-ctrls">
              <a class="button-icon" ui-sref="wba.empresas.novo.empresa">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="panel-body">
            <p class="text-center" ng-show="empresas.length == 0">
              Nenhum resultado foi encontrado, clique no botão <i class="fa fa-plus"></i> para adicionar um item.
            </p>
            <table class="table table-striped fix-table-vertical-alignment" ng-show="empresas.length > 0">
              <thead>
                <tr>
                  <!-- <td>Id</td> -->
                  <th width="120">Razão Social</th>
                  <th class="text-center">Nome Fantasia</th>
                  <th class="text-center">Número de Inscrição</th>
                  <th class="text-center">Ativo</th>
                  <th class="text-center">Tipo</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in empresas track by $index">
                  <td ng-bind="item.razaoSocial"></td>
                  <td class="text-center" ng-bind="item.nomeFantasia"></td>
                  <td class="text-center" ng-bind="item.numeroInscricao"></td>
                  <td class="text-center">
                    <i class="fa" ng-class="{'fa-check green': item.ativo, 'fa-times red': !item.ativo}"></i>
                  </td>
                  <td class="text-center" ng-bind="item.tipo"></td>
                  <td>
                    <div class="btn-group pull-right">
                      <button class="btn btn-danger-alt" ng-click="inactive(item)">
                        <i class="fa fa-trash-o"></i>
                      </button>
                      <button class="btn btn-primary" ui-sref="wba.empresas.editar.empresa({empresaId: item.id})">
                        <i class="fa fa-pencil"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pager total-items="totalItems" previous-text="« Anterior" next-text="Próximo »" ng-model="currentPage"></pager>
          </div>
        </div>

            <!-- <panel panel-class="panel-info" heading="Listagem de Organizações">
                
            </panel> -->
        </div>
    </div>

</div> <!-- container-fluid -->
