<form class="form-horizontal" name="orgForm">
  <fieldset>  
    <div class="form-group">
      <div class="col-md-12">
        <button class="btn btn-primary pull-right" ng-click="addRepresentate()">
          <i class="fa fa-plus"></i> Adicionar representante
        </button>
      </div>
    </div>
    <div class="panel panel-indigo">
      <div class="panel-heading">
        Representante
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="organizationName" class="col-md-2 control-label">Tipo</label>
          <div class="col-md-4">
            <select class="form-control" ng-model="representante.uuidTipoRepresentante" ng-options="tRep.id as tRep.nome for tRep in tiposReps">
              <option value="">Selecione..</option>
            </select>
          </div>
          <div class="col-md-2">
            <button class="btn btn-link" ng-click="openModal()"><i class="fa fa-plus"></i> Tipo de Representante</button>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Nome</label>
          <div class="col-md-10">
            <input type="text" ng-model="representante.nome" name="nome" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">CPF</label>
          <div class="col-md-8">
            <input type="text" ng-model="representante.cpf" name="cpf" class="form-control" ui-br-cpf-mask>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Email</label>
          <div class="col-md-8">
            <input type="email" ng-model="representante.email" name="email" class="form-control">
          </div>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-12">
        <button class="btn btn-danger-alt">
          <i class="fa fa-times"></i> 
          Cancelar
        </button>
        <div class="btn-group pull-right">
          <button class="btn btn-primary" ng-click="save(false)"><i class="fa fa-save"></i> Salvar</button>
          <button class="btn btn-info" ng-click="save(true)" ng-disabled="orgForm.$invalid">Salvar e continuar <i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </fieldset>
</form>