<div class="row">  
  <div class="col-md-6 analise-panel-holder clearfix">
    <div class="panel panel-indigo">
      <div class="panel-heading">Borderô</div>
      <div class="panel-body">
        
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8">Total</div>
            <div class="col-md-4 text-right">R$ 20.000,00</div>
          </div>
        </div>
        <div class="analise-infos-holder">
          <div class="row ">
            <div class="col-md-8">(-) Dif. de Compra</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8">(-) Ad Valorem</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8">(-) Tarifas</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8">(-) Impostos Dvrs.</div>
            <div class="col-md-4 text-right">R$ 76,00</div>
          </div>
        </div>
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8 destaque">Líquido antes Ret</div>
            <div class="col-md-4 text-right destaque">R$ 19.924,00</div>
            <div class="col-md-8">(+) Impostos Re.</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
          </div>
        </div>
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8 destaque">Líquido</div>
            <div class="col-md-4 text-right destaque">R$ 19.924,00</div>
            <div class="col-md-8">(+) Ajustes</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8 destaque">Total a pagar</div>
            <div class="col-md-4 text-right destaque">R$ 19.924,00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 analise-panel-holder clearfix">
    <div class="panel panel-indigo">
      <div class="panel-heading">Estatísticas</div>
      <div class="panel-body">
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8">Qtd. Títulos</div>
            <div class="col-md-4 text-right">15</div>
          </div>
        </div>
        <div class="analise-infos-holder">
          <div class="row ">
            <div class="col-md-8">Prazo Médio</div>
            <div class="col-md-4 text-right">0,00</div>
            <div class="col-md-8">Float Médio</div>
            <div class="col-md-4 text-right">0,00</div>
            <div class="col-md-8">Média Toal</div>
            <div class="col-md-4 text-right">0,00</div>
          </div>
        </div>
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8">Fator Período</div>
            <div class="col-md-4 text-right">0,0000%</div>
            <div class="col-md-8">Fator Equiv. a.m.</div>
            <div class="col-md-4 text-right">0,0000%</div>
            <div class="col-md-8">Fator Real a.m.</div>
            <div class="col-md-4 text-right">0,0000%</div>
            <div class="col-md-8">Fator Real Período</div>
            <div class="col-md-4 text-right">0,3800%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 analise-panel-holder clearfix">
    <div class="panel panel-indigo">
      <div class="panel-heading">Tarifas</div>
      <div class="panel-body">
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8 destaque">Tarifa Título</div>
            <div class="col-md-4 text-right destaque">R$ 0,00</div>
            <div class="col-md-8 destaque">Tarifa Chqeue</div>
            <div class="col-md-4 text-right destaque">R$ 0,00</div>
            <div class="col-md-8">Tarifa Bco. Serviço</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8 destaque">Tarifa Esporádica</div>
            <div class="col-md-4 text-right destaque">R$ 0,00</div>
          </div>
        </div>
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8">Total Tarifas</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 analise-panel-holder clearfix">
    <div class="panel panel-indigo">
      <div class="panel-heading">Ajustes</div>
      <div class="panel-body">
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8">(-)Regresso</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8 destaque">Tarifa Chqeue</div>
            <div class="col-md-4 text-right destaque">R$ 0,00</div>
            <div class="col-md-8 destaque">(-) Retenção</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8 destaque">(+) Contas Pagas</div>
            <div class="col-md-4 text-right destaque">R$ 0,00</div>
          </div>
        </div>
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8">Total Ajustes</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 analise-panel-holder clearfix">
    <div class="panel panel-indigo">
      <div class="panel-heading">Impostos Retidos na Fonte</div>
      <div class="panel-body">
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8">IRRF</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8">CSLL</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8">COFINS</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8">PIS</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
          </div>
        </div>
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8">Total Impostos</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 analise-panel-holder clearfix">
    <div class="panel panel-indigo">
      <div class="panel-heading">Impostos Diversos</div>
      <div class="panel-body">
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8 destaque">ISS <span>(Destacadp)</span></div>
            <div class="col-md-4 text-right">R$ 0,00</div>
            <div class="col-md-8 destaque">IOF <span>(Retido do Cli.)</span></div>
            <div class="col-md-4 text-right">R$ 0,00</div>
          </div>
        </div>
        <div class="analise-infos-holder">
          <div class="row">
            <div class="col-md-8">Total Impostos</div>
            <div class="col-md-4 text-right">R$ 0,00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>