<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/dashboard">Dashboard</a></li>
    <li><a href="#/operacoes/listar">Operações</a></li>
    <li class="active">Editar</li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading">
          <h2>Operação</h2>
          <div class="options">
            <ul class="nav nav-tabs form-wzrd actions">
              <li ui-sref-active="active"><a ui-sref="wba.operacoes.editar.digitacao">Importação</a></li>
              <li ui-sref-active="active" class="last"><a ui-sref="wba.operacoes.editar.tarifas">Tarifas</a></li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <!-- <div class="row">
              <div class="col-md-12">
                <pre>{{operacao | json}}</pre>
              </div>
            </div> -->
            <div class="row">
                <div class="col-md-12">
                  <h4>Resumo da Operacão</h4>
                </div>
                <div class="col-md-4">
                  <div class="resumo-operacao">
                    <form role="form" class="form">
                      <fieldset>
                        <div class="form-group">
                          <label>
                            Num. Operação:
                          </label>
                          <input type="text" class="form-control" disabled="" ng-model="operacao.numero">
                        </div>
                        <div class="form-group">
                          <label>
                            Cedente:
                          </label>
                          <select
                            class="form-control"
                            ng-model="selectedCedente"
                            disabled
                            ng-options="ced as ced.razaoSocial for ced in cedentes">
                            <option value="">Selecione...</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Carteira:</label>
                          <select
                            ng-model="selectedCarteira"
                            disabled
                            class="form-control"
                            ng-options="cart as cart.nome for cart in carteiras">
                            <option value="">Selecione...</option>
                          </select>
                        </div>

                        <div class="form-group" ng-show="detailsOpen">
                          <label for="">Dt. Operação</label>
                          <p class="input-group datepicker-holder">
                            <input
                              type="text"
                              class="form-control"
                              datepicker-popup="dd/MM/yyyy"
                              disabled
                              ng-model="operacao.dataOperacao"
                              is-open="isOpened"
                              close-text="Fechar"
                              current-text="Hoje"
                              clear-text="Limpar" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="openMain($event)"><i class="ti ti-calendar"></i></button>
                            </span>
                          </p>
                        </div>
                        <div class="form-group" ng-show="detailsOpen">
                          <label>
                            Método de Cálculo
                          </label>
                          <input type="text" class="form-control" ng-model="operacao.metodoCalculoDesagio" disabled>
                        </div>
                        <div class="form-group" ng-show="detailsOpen">
                          <label>
                            Float
                          </label>
                          <input type="text" class="form-control" disabled="">
                        </div>
                        <div class="form-group" style="margin-bottom: 0px !important;">
                          <button class="btn btn-default-alt btn-block" ng-click="detailsOpen = !detailsOpen">
                            <i class="fa" ng-class="{'fa-chevron-down': !detailsOpen, 'fa-chevron-up': detailsOpen}"></i>
                          </button>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="panel panel-indigo">
                    <div class="panel-heading">
                      Lançamentos
                      <div class="panel-ctrls">
                        <a class="button-icon" ng-click="calcularLancamentos()" tooltip="Atualizar Lançamentos">
                          <i class="ti ti-reload"></i>
                        </a>
                      </div>
                    </div>
                    <div class="panel-body">

                      <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                          <th>Descrição</th>
                          <th>Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="lan in lancamentos">
                          <td ng-bind="lan.descricao"></td>
                          <td ng-bind="lan.valor"></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label>Utilizar dados da Carteira: </label> &nbsp; <input type="checkbox" class=" switchery-xs" checked ui-switch="{color: $parent.getBrandColor('success')}" ng-init="useCarteiraData=true" ng-model="useCarteiraData" />
                </div>
                <div class="col-md-12" ng-show="!useCarteiraData">
                  <div class="resumo-operacao">

                    <form role="form" class="form">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="control-label">Método de Cálculo Deságio</label>
                              <select name="metodoCalculoDesagio" ng-model="operacao.metodoCalculoDesagio" class="form-control">
                                <option value="">Selecione..</option>
                                <option value="EFETIVO">Efetivo</option>
                                <option value="NOMINAL">Nominal</option>
                                <option value="MISTO">Misto</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="control-label">Fator Cálculo</label>
                              <input type="text" ng-model="operacao.fatorCalculo" class="form-control" ng-currency>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="control-label">Taxa Juros Recompra Menor 30 dias</label>
                              <input type="text" ng-model="operacao.taxaJurosRecompraMenor30Dias" class="form-control" ng-currency>
                            </div>
                          </div>
                        </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label">Taxa Juros Recompra Maior 30Dias</label>
                            <input type="text" ng-model="operacao.taxaJurosRecompraMaior30Dias" class="form-control" ng-currency>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label">Valor limite para confirmar Auto.</label>
                            <input type="text" ng-model="operacao.valorLimiteParaConfirmarAutomaticamente" class="form-control" ng-currency>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <div class="form-group">
                            <label class="control-label">Confirmar títulos acima do limite</label>

                            <label class="radio-inline icheck">
                              <input icheck type="radio" ng-model="operacao.deveConfirmarTitulosPorValorAcimaLimite" ng-value="true" name="optionsRadiosInline" > Sim
                            </label>
                            <label class="radio-inline icheck">
                              <input icheck type="radio" ng-model="operacao.deveConfirmarTitulosPorValorAcimaLimite" ng-value="false" name="optionsRadiosInline" > Não
                            </label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <button class="btn btn-primary" ng-click="update(operacao)"><i class="fa fa-save"></i> Atualizar informações</button>
                        </div>
                      </div>







                    </form>
                  </div>
                </div>
            </div>
            <hr>
            <div ui-view=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
