<div class="row">
	<div class="col-md-12">
		<tabset tab-theme="orange" tab-position="top">
      <tab heading="Títulos">
        <button
          class="btn btn-danger btn-circle btn-lg pull-right"
          style="padding-top: 5px !important;"
          tooltip="Importar títulos"
          ng-click="openModalImportacao()">
          <i class="fa fa-upload"></i>
        </button>
        <div class="sk-wave" ng-show="loading">
          <div class="sk-rect sk-rect1"></div>
          <div class="sk-rect sk-rect2"></div>
          <div class="sk-rect sk-rect3"></div>
          <div class="sk-rect sk-rect4"></div>
          <div class="sk-rect sk-rect5"></div>
        </div>
        <div class="row" ng-if="recebiveis.length == 0">
          <div class="col-md-12">
            <p class="text-center alert alert-info">
              <i class="fa fa-info-circle"></i> Não existe títulos cadastrados para essa operação, clique no botão adicionar, para adicionar um título.
              <button class="btn btn-primary pull-right" style="margin-top: -8px" ng-click="addTitulo()">
                <i class="fa fa-plus"></i> Adicionar título
              </button>
            </p>
          </div>
        </div>
        <table class="table table-striped" ng-if="recebiveis.length > 0">
          <thead>
            <tr>
              <th class="text-center">Valor</th>
              <th class="text-center">Venc.</th>
              <th class="text-center">Número</th>
              <th class="text-center">% Desc.</th>
              <th class="text-center">Dt. Lim. Desc.</th>
              <th class="text-center">Emissão</th>
              <!--<th class="text-center">Nosso #</th>-->
              <th class="text-center">Valor Líq.</th>
              <th class="text-center">Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rec in recebiveis">
              <td class="text-center" width="120">
                <input type="text" ng-model="rec.valor" class="form-control" ng-currency>
              </td>
              <td class="text-center" width="140">
								<p class="input-group datepicker-holder">
									<input
										type="text"
										class="form-control"
										datepicker-popup="dd/MM/yyyy"
										ng-model="rec.vencimento"
										is-open="rec.dpVencimento"
										close-text="Fechar"
										current-text="Hoje"
										clear-text="Limpar" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event, rec, 'vencimento')"><i class="ti ti-calendar"></i></button>
									</span>
								</p>
              </td>
              <td class="text-center"><input type="text" ng-model="rec.numero" class="form-control"></td>
              <td class="text-center"><input type="text" ng-model="rec.percentualDesconto" class="form-control"></td>
              <td class="text-center" width="140">
								<p class="input-group datepicker-holder">
									<input
										type="text"
										class="form-control"
										datepicker-popup="dd/MM/yyyy"
										ng-model="rec.dateLimiteDesconto"
										is-open="rec.dpDataLimite"
										close-text="Fechar"
										current-text="Hoje"
										clear-text="Limpar" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event, rec, 'dataLimite')"><i class="ti ti-calendar"></i></button>
									</span>
								</p>
              </td>
              <td class="text-center" width="140">
								<!-- {{rec.dpEmissao}} -->
								<p class="input-group datepicker-holder">
									<input
										type="text"
										class="form-control"
										datepicker-popup="dd/MM/yyyy"
										ng-model="rec.emissao"
										is-open="rec.dpEmissao"
										close-text="Fechar"
										current-text="Hoje"
										clear-text="Limpar" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event, rec, 'emissao')"><i class="ti ti-calendar"></i></button>
									</span>
								</p>
              </td>
              <!--<td class="text-center"><input type="text" ng-model="rec.nossoNumero" class="form-control"></td>-->
              <td class="text-center" width="120"><input type="text" ng-model="rec.valorLiquido" ng-currency class="form-control"></td>
              <td class="text-center">
                <i class="fa" ng-class="{'fa-check green': rec.ativo, 'fa-times red': !rec.ativo}"></i>
                <!--<switch id="enabled" name="enabled" ng-model="rec.ativo" class="green" ng-change="changeTitStatus(rec)"></switch>-->
              </td>
              <td>
                <button class="btn btn-primary" ng-click="updateTitulo(rec)">
                  <i class="fa fa-save"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
				<div class="row" ng-if="recebiveis.length > 0">
          <div class="col-md-12">
						<button class="btn btn-primary pull-right" style="margin-top: -8px" ng-click="addTitulo()">
							<i class="fa fa-plus"></i> Adicionar título
						</button>
          </div>
        </div>
      </tab>
    </tabset>
	</div>
</div>
