<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/dashboard">Dashboard</a></li>
    <li><a href="#/operacoes/listar">Operações</a></li>
    <li class="active">Editar</li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading">
          <h2>Cadastrar nova Operação</h2>
          <div class="options">
            <ul class="nav nav-tabs form-wzrd">
              <li ui-sref-active="active"><a ui-sref="wba.empresas.novo.empresa" class="disabled">Digitação</a></li>
              <li ui-sref-active="active"><a ui-sref="wba.empresas.novo.endereco" class="disabled">Análise</a></li>
              <li ui-sref-active="active"><a ui-sref="wba.empresas.novo.representante" class="disabled">Estastísticas</a></li>
              <li ui-sref-active="active" class="last"><a ui-sref="wba.empresas.novo.contato" class="disabled">Liberação</a></li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="col-lg-12">
              CONTEUDO DA OPERACAO
            </div>
            <div ui-view=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->