<div class="row">
  <div class="analise-panel-holder col-md-12">
    <div class="panel panel-indigo">
      <div class="panel-heading">
        Lançamentos
        <div class="panel-ctrls">
          <a class="button-icon" ng-click="expandLanc = !expandLanc">
            <i class="ti ti-fullscreen"></i>
          </a>
        </div>
      </div>
      <div class="panel-body">

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="lan in lancamentos">
              <td ng-bind="lan.descricao"></td>
              <td ng-bind="lan.valor"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--<div class="row">-->
  <!--<div class="col-md-6 analise-panel-holder clearfix">-->
    <!--<div class="panel panel-indigo">-->
      <!--<div class="panel-heading">Tarifas</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8 destaque">Tarifa Título</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">Tarifa Chqeue</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
            <!--<div class="col-md-8">Tarifa Bco. Serviço</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">Tarifa Esporádica</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">Total Tarifas</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6 analise-panel-holder clearfix">-->
    <!--<div class="panel panel-indigo">-->
      <!--<div class="panel-heading">Ajustes</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">(-)Regresso</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">Tarifa Chqeue</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">(-) Retenção</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">(+) Contas Pagas</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">Total Ajustes</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-md-6 analise-panel-holder clearfix">-->
    <!--<div class="panel panel-indigo">-->
      <!--<div class="panel-heading">Impostos Retidos na Fonte</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">IRRF</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8">CSLL</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8">COFINS</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8">PIS</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">Total Impostos</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6 analise-panel-holder clearfix">-->
    <!--<div class="panel panel-indigo">-->
      <!--<div class="panel-heading">Impostos Diversos</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8 destaque">ISS <span>(Destacadp)</span></div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">IOF <span>(Retido do Cli.)</span></div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">Total Impostos</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div><div class="row">-->
  <!--<div class="col-md-6 analise-panel-holder clearfix">-->
    <!--<div class="panel panel-indigo">-->
      <!--<div class="panel-heading">Tarifas</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8 destaque">Tarifa Título</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">Tarifa Chqeue</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
            <!--<div class="col-md-8">Tarifa Bco. Serviço</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">Tarifa Esporádica</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">Total Tarifas</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6 analise-panel-holder clearfix">-->
    <!--<div class="panel panel-indigo">-->
      <!--<div class="panel-heading">Ajustes</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">(-)Regresso</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">Tarifa Chqeue</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">(-) Retenção</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">(+) Contas Pagas</div>-->
            <!--<div class="col-md-4 text-right destaque">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">Total Ajustes</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-md-6 analise-panel-holder clearfix">-->
    <!--<div class="panel panel-indigo">-->
      <!--<div class="panel-heading">Impostos Retidos na Fonte</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">IRRF</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8">CSLL</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8">COFINS</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8">PIS</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">Total Impostos</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6 analise-panel-holder clearfix">-->
    <!--<div class="panel panel-indigo">-->
      <!--<div class="panel-heading">Impostos Diversos</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8 destaque">ISS <span>(Destacadp)</span></div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
            <!--<div class="col-md-8 destaque">IOF <span>(Retido do Cli.)</span></div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="analise-infos-holder">-->
          <!--<div class="row">-->
            <!--<div class="col-md-8">Total Impostos</div>-->
            <!--<div class="col-md-4 text-right">R$ 0,00</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
