<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a ui-sref="wba.dashboard">Dashboard</a></li>
    <li class="active">Operações</li>
</ol>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading header-section">

          <h2>Operações</h2>
          <div class="panel-ctrls">
            <a class="button-icon" ng-click="novaOperacao()" tooltip="Adicionar Operação">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="panel-body">

          <p class="text-center" ng-show="operacoes.length == 0">
            Nenhum resultado foi encontrado, clique no botão <i class="fa fa-plus"></i> para adicionar um item.
          </p>
          <table class="table" ng-show="operacoes.length > 0">
            <tbody>
              <tr ng-repeat="item in operacoes track by $index">
                <td colspan="5">
                  <table class="table table-striped fix-table-vertical-alignment">
                    <thead>
                      <tr>
                        <th ng-if="item.recebiveis">
                          <button
                            class="btn btn-sm btn-primary-alt"
                            ng-click="item.open = !item.open"
                            ng-if="item.recebiveis">
                            <i class="fa fa-bars"></i>
                          </button>
                        </th>
                        <th>Núm.</th>
                        <th class="text-center">Cedente</th>
                        <th class="text-center">Carteira</th>
                        <th class="text-center">Qtd Tits</th>
                        <th class="text-center">Vl. Bruto</th>
                        <th class="text-center">Vl. Líq.</th>
                        <th class="text-center">Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <td ng-if="item.recebiveis"></td>
                      <td class="text-center" width="50">{{item.numero}}</td>
                      <td class="text-center" width="150">{{item.cedentes.nomeFantasia}}</td>
                      <td class="text-center" width="150">{{item.carteira.nome}}</td>
                      <td class="text-center">
                        {{item.recebiveis.length}}
                      </td>
                      <td>{{item.valor | currency}}</td>
                      <td>{{item.valorLiquido | currency}}</td>
                      <td class="text-center">
                        <i class="fa" ng-class="{'fa-check green': item.status == 'APROVADA', 'fa-pause blue': item.status == 'EM_ANALISE', 'fa-play orange': item.status == 'SIMULADA'}" tooltip="{{item.status}}"></i>
                      </td>
                      <td width="120">
                        <div class="btn-group pull-right">
                          <button
                            class="btn btn-sm btn-primary"
                            tooltip="Editar operação"
                            ui-sref="wba.operacoes.editar.digitacao({operacaoId: item.uuid})">
                              <i class="fa fa-pencil"></i>
                          </button>
                          <button
                            class="btn btn-info btn-sm"
                            ng-click="openImportacao(item)"
                            tooltip="Importação"
                          >
                            <i class="fa fa-upload"></i>
                          </button>
                          <button
                            class="btn btn-sm btn-success"
                            tooltip="Adicionar Tarifa"
                            ng-click="openModalTarifas(item.uuid)">
                              <i class="fa fa-usd"></i>
                          </button>
                          <button
                            class="btn btn-sm btn-warning"
                            tooltip="Liberar operação"
                            ng-click="liberarOperacao(item)">
                              <i class="fa fa-share"></i>
                          </button>
                        </div>
                      </td>
                    </tbody>
                  </table>
                  <div
                    class="well recebiveis-lista-holder"
                    collapse="!item.open"
                    ng-if="item.recebiveis"
                    style="margin-top: -20px"
                    ng-scrollbars
                    ng-scrollbars-config="config">
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th colspan="9" class="text-center">
                                Recebíveis
                              </th>
                            </tr>
                            <tr>
                              <th>Número</th>
                              <th>Valor</th>
                              <th>Vencimento</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rec in item.recebiveis">
                              <td>{{rec.numero}}</td>
                              <td>{{rec.valor | currency}}</td>
                              <td>{{rec.vencimento | date: 'dd/MM/yyyy'}}</td>
                              <td class="">
                                <i class="fa fa-circle" ng-class="{'green': rec.ativo, 'red': !rec.ativo}"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          <!-- <pager total-items="totalItems" previous-text="« Anterior" next-text="Próximo »" ng-model="currentPage"></pager> -->
        </div>
      </div>
    </div>
  </div>
</div>
