<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/">Dashboard</a></li>
    <li>Operações</li>
    <li class="active">Operações</li>
</ol>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading header-section">
          
          <h2>Operações</h2>
          <div class="panel-ctrls">
            <a class="button-icon" ui-sref="wba.operacoes.novo">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="panel-body">

          <p class="text-center" ng-show="operacoes.length == 0">
            Nenhum resultado foi encontrado, clique no botão <i class="fa fa-plus"></i> para adicionar um item.
          </p>
          <table class="table" ng-show="operacoes.length > 0">
            <tbody>
              <tr ng-repeat="item in operacoes track by $index">
                <td colspan="5">
                  <table class="table table-striped fix-table-vertical-alignment">
                    <thead>
                      <tr>
                        <th ng-if="item.recebiveis">
                          <button
                            class="btn btn-sm btn-primary-alt"
                            ng-click="item.open = !item.open"
                            ng-if="item.recebiveis">
                            <i class="fa fa-search"></i>
                          </button>
                        </th>
                        <th>Número Op.</th>
                        <th class="text-center">Cedente</th>
                        <th class="text-center">Carteira</th>
                        <th class="text-center">Qtd Titulos</th>
                        <th class="text-center">Vl. Bruto</th>
                        <th class="text-center">Vl. Líquido</th>
                        <th class="text-center">Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <td ng-if="item.recebiveis"></td>
                      <td colspan="2">
                         {{item.numero}}
                      </td>
                      <td class="text-center">
                        {{item.cedentes.nomeFantasia}}
                      </td>
                      <td class="text-center" style="width: 240px;">
                        <span ng-hide="edit" ng-cloak>
                          {{item.dataOperacao | date: 'dd/MM/yyyy'}}
                        </span>
                        <div class="input-group datepicker-holder" ng-show="edit" ng-cloak>
                          <input
                            type="text"
                            class="form-control"
                            datepicker-popup="dd/MM/yyyy"
                            ng-model="item.dataOperacao"
                            is-open="opened"
                            min-date="minDate"
                            datepicker-options="dateOptions"
                            date-disabled="disabled(date, mode)"
                            close-text="Fechar"
                            current-text="Hoje"
                            clear-text="Limpar">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="ti ti-calendar"></i></button>
                          </span>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <span ng-hide="edit" ng-cloak>{{item.status}}</span>
                        <select class="form-control" ng-model="item.status" required ng-show="edit" ng-cloak>
                          <option value="">Selecione...</option>
                          <option value="SIMULADA">Simulada</option>
                          <option value="EM_ANALISE">Em Análise</option>
                          <option value="APROVADA">Aprovada</option>
                        </select>
                      </td>
                      <td>
                        <div class="btn-group pull-right">
                          <button
                            class="btn btn-primary"
                            tooltip="Editar operação"
                            ui-sref="wba.operacoes.editar.digitacao({operacaoId: item.uuid})">
                              <i class="fa fa-pencil"></i>
                          </button>
                          <button
                            class="btn btn-success"
                            tooltip="Adicionar Tarifa"
                            ng-click="addTarifa()">
                              <i class="fa fa-usd"></i>
                          </button>
                          <button
                            class="btn btn-warning"
                            tooltip="Liberar operação"
                            ng-click="liberarOperacao()">
                              <i class="fa fa-share"></i>
                          </button>
                        </div>
                      </td>
                    </tbody>
                  </table>
                  <div
                    class="well"
                    collapse="!item.open"
                    ng-if="item.recebiveis"
                    style="margin-top: -20px">
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th colspan="9" class="text-center">
                                Recebíveis
                              </th>
                            </tr>
                            <tr>
                              <th>Valor</th>
                              <th>Vencimento</th>
                              <th>Número</th>
                              <th>% Desconto</th>
                              <th>Data limite Desconto</th>
                              <th>Emissão</th>
                              <th>Nosso Número</th>
                              <th>Valor Líquido</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rec in item.recebiveis">
                              <td>{{rec.valor}}</td>
                              <td>{{rec.vencimento | date: 'dd/MM/yyyy'}}</td>
                              <td>{{rec.numero}}</td>
                              <td>{{rec.percentualDesconto}}</td>
                              <td>{{rec.dateLimiteDesconto | date: 'dd/MM/yyyy'}}</td>
                              <td>{{rec.emissao | date: 'dd/MM/yyyy'}}</td>
                              <td>{{rec.nossoNumero}}</td>
                              <td>{{rec.valorLiquido}}</td>
                              <td class="">
                                <i class="fa fa-circle" ng-class="{'green': rec.ativo, 'red': !rec.ativo}"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          <!-- <pager total-items="totalItems" previous-text="« Anterior" next-text="Próximo »" ng-model="currentPage"></pager> -->
        </div>
      </div>
    </div>
  </div>
</div>
