<div class="modal-header">
  Cadastar Operação
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal" novalidate name="formOperacao">
    <fieldset>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Cedente
        </label>
        <div class="col-md-10">
          <div class="input-group">
            <input
              type="text"
              ng-model="operacao.idCedente"
              placeholder="Selecione o cedente.."
              typeahead="ced as ced.nomeFantasia for ced in cedentes"
              typeahead-loading="loadingLocations"
              class="form-control">
            <i ng-show="loadingLocations" class="pull-right glyphicon glyphicon-refresh"></i>
            <span class="input-group-btn">
              <button class="btn btn-primary-alt" ui-sref="wba.empresas.novo.empresa" ng-click="cancel()">
                <i class="fa fa-plus"></i> &nbsp; Cedente
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Carteira
        </label>
        <div ng-class="{'col-md-10': carteiras.length > 0, 'col-md-5': carteiras.length == 0}">
          <div class="input-group">
            <select ng-model="operacao.idCarteira" class="form-control" ng-options="cart.uuid as cart.nome for cart in carteiras" required>
              <option value="">Selecione</option>
            </select>
            <div class="input-group-btn">
              <button class="btn btn-primary-alt" ng-click="openModalCarteiras()">
                <i class="fa fa-plus"></i> &nbsp; Carteira
              </button>
            </div>
          </div>

        </div>
        <div ng-class="{'col-md-5': carteiras.length == 0}" ng-hide="carteiras.length > 0">
          <p class="help-block">
            <i class="fa fa-times-circle"></i>
            Não existem carteiras cadastras
          </p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Workflow
        </label>
        <div class="col-md-10">
          <select ng-model="operacao.uuidWorkflowDeployment" class="form-control" ng-options="w.deploymentId as w.fileName for w in workflows">
            <option value="">Selecione...</option>
          </select>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger-alt pull-left" ng-click="cancel()"><i class="fa fa-times"></i> Cancelar</button>
  <button class="btn btn-primary pull-right" ng-disabled="formOperacao.$invalid" ng-click="save(operacao)"><i class="fa fa-save"></i> Salvar</button>
</div>
