<ol class="breadcrumb" style="margin: 0 0 15px 0">
    <li><a href="#/dashboard">Dashboard</a></li>
    <li><a href="#/operacoes/listar">Operações</a></li>
    <li class="active">Novo</li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-indigo">
        <div class="panel-heading">
          <h2>Cadastrar nova Operação</h2>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <form role="form" class="form-horizontal" novalidate name="formOperacao">
              <fieldset>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Cedente
                  </label>
                  <div ng-class="{'col-md-7': cedentes.length == 0, 'col-md-8': cedentes.length > 0}">
                    <input
                      type="text"
                      ng-model="operacao.uuidCedente"
                      placeholder="Selecione o cedente.."
                      typeahead="ced.nomeFantasia for ced in cedentes"
                      typeahead-loading="loadingLocations"
                      class="form-control">
                    <!-- <select ng-model="operacao.uuidCedente" class="form-control"
                    ng-options="ced.id as ced.nomeFantasia for ced in cedentes" required>
                      <option value="">Selecione</option>
                    </select> -->
                    <i ng-show="loadingLocations" class="pull-right glyphicon glyphicon-refresh"></i>
                  </div>
                  <div class="col-md-1" ng-if="cedentes.length == 0">
                    <button class="btn btn-primary-alt btn-block" ui-sref="wba.empresas.novo.empresa">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Carteira
                  </label>
                  <div ng-class="{'col-md-8': carteiras.length > 0, 'col-md-7': !carteiras}">
                    <select ng-model="operacao.uuidCarteira" class="form-control"
                    ng-options="cart.uuid as cart.nome for cart in carteiras" required>
                      <option value="">Selecione</option>
                    </select>
                  </div>
                  <div class="col-md-1" ng-if="!carteiras">
                    <button class="btn btn-block btn-primary-alt" ng-click="openModalCarteiras()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Número
                  </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="operacao.numero" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Modelo de Cobrança
                  </label>
                  <div class="col-md-8">
                    <select class="form-control" ng-model="operacao.modeloCobranca" required>
                      <option value="">Selecione...</option>
                      <option value="BANCO">Banco</option>  
                      <option value="CARTEIRA">Carteira</option>  
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Data da Operação
                  </label>
                  <div class="col-md-4">
                    <p class="input-group datepicker-holder">
                      <input
                        type="text"
                        class="form-control"
                        datepicker-popup="dd/MM/yyyy"
                        ng-model="operacao.dataOperacao"
                        is-open="opened"
                        min-date="minDate"
                        datepicker-options="dateOptions"
                        date-disabled="disabled(date, mode)"
                        required
                        close-text="Fechar"
                        current-text="Hoje"
                        clear-text="Limpar" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="ti ti-calendar"></i></button>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">
                    Status
                  </label>
                  <div class="col-md-4">
                    <select class="form-control" ng-model="operacao.status" required>
                      <option value="">Selecione...</option>
                      <option value="SIMULADA">Simulada</option>
                      <option value="EM_ANALISE">Em Análise</option>
                      <option value="APROVADA">Aprovada</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-2">
                    <button class="btn btn-danger-alt pull-left" ui-sref="wba.operacoes.listar"><i class="fa fa-times"></i> Cancelar</button>
                    <button class="btn btn-primary pull-right" ng-disabled="formOperacao.$invalid" ng-click="save(operacao)"><i class="fa fa-save"></i> Salvar</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>