[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.collapse.in {
      height: auto !important;
}
.red {
  color: #e51c23;
}
.green {
  color: #8bc34a;
}
.header-section button.btn-voltar {
  clear: both;
  margin: 8px 8px 0px -13px !important;
  border: none !important;
}
.header-section button.btn-voltar:hover,
.header-section .button-icon:hover {
  background-color: rgba(3, 21, 119, 0.25) !important;
}
.header-section h2 {
  font-weight: 300;
}
.header-section h2 small{
  font-size: 14px;
  position: relative;
  padding-left: 10px;
}

.header-section h2 small:before {
  content: '|';
  left: 3px;
  top: 1px;
  position: absolute;
}

table.table.table-striped.fix-table-vertical-alignment thead {
  font-weight: 600 !important;
}
.form-wzrd li a.disabled {
  pointer-events: none;
  cursor: default;
}
.form-wzrd.actions {
  pointer-events: all;
  cursor: pointer; 
}
.form-wzrd li.active {
  margin-right: 10px;
}
.form-wzrd li.active a:after{
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 0 25px 20px;
  border-color: transparent transparent transparent #FFF;
}
.form-wzrd li.active.last a:after {
  border: none;
}

.datepicker-holder table{
  width: 95%;
  margin: 0 auto;
}

.ope-titles {
  font-weight: bolder;
  padding-bottom: 10px;
  font-size: 14px;
}
.display-info {
  margin-bottom: 10px;
  padding-bottom: 10px;  
}

.analise-infos-holder {
  position: relative;
  border-bottom: 2px solid #3f51b5;
  width: 100%;
  margin: 0 auto;
  padding: 9px 12px;
  box-sizing: border-box;
  margin-bottom: 3px;
}
.analise-infos-holder:last-child {
  border-bottom: none;
}
.analise-infos-holder .destaque {
  font-weight: bolder;
  color: #3f51b5;
}
.analise-infos-holder .destaque span {
  color: #000;
  font-weight: normal;
}
.progress {height: 20px !important;}


.resumo-operacao {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.resumo-operacao:hover .btn-editar-operacao {
  visibility: visible;
}

.btn-editar-operacao {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -16px;
  visibility: hidden;
  transition: all ease .5s
}

.custom-hr {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  border-top: 1px solid #ccc;
}