<ol class="breadcrumb">
    <li><a href="#/">Dashboard</a></li>
    <li>Sobre</li>
    <li class="active">Critérios de Avaliação</li>
</ol>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-red-wine">
                <div class="panel-heading">
                    <h2>
                        <!-- SOBRE -->
                        <small>Critérios de Avaliação de Risco</small>
                    </h2>
                </div>
                <div class="panel-body">
                    

                    


                    <p><b>Avaliação de Risco da Empresa Cliente</b></p>

                    <p>O WBA PLD adota 2 (duas) classes de riscos para classificar as empresas clientes:</p>

                    <ul>
                        <li> Risco Elevado</li>
                        <li> Risco Normal</li>
                    </ul>

                    <p>Para classificar uma empresa cliente na categoria de Risco Elevado ela deverá:</p>

                    <ul>
                        <li>Ter qualquer dos critérios representado pelas questões classificada de acordo com a política como de Risco
                            Máximo
                        </li>
                        <li>Ter 3 (três) ou mais dos critérios classificados representado pelas questões classificada de acordo com a
                            política como de Risco Médio
                        </li>
                    </ul>

                    <p>Todas as empresas que não possuírem as características acima estarão classificadas como de Risco Normal.</p>

                    <p><b>Importante!!</b></p>

                    <p>Caso a empresa cliente esteja enquadrada na Resolução 15 do COAF acarretará na proibição de
                        relacionamento com a mesma. Cuidado com esta situação caso prefira reformular as questões.</p>

                    <p><b>Análise de Suspeição da Operação</b></p>

                    <p>Para classificar uma operação como SUSPEITA ela deverá:</p>
                    <ul>
                        <li>Ter qualquer dos critérios, representado pelas questões classificada de acordo com a política, classificado como
                            de Suspeição Máxima
                        </li>
                        <li>Ter 2 (dois) ou mais dos critérios classificados como de Suspeição Alta.</li>
                        <li>Ter 3 (três) ou mais dos critérios como Suspeição Alta ou Média.</li>
                    </ul>
                    <p><b>Todas as operações que não possuírem as características acima estarão classificadas como de Não Suspeitas</b></p>

                    </div>
                </div>
                <!-- <div class="panel-footer"></div> -->
            </div>
        </div>
    </div>

</div> <!-- container-fluid -->
