<div class="static-sidebar-wrapper sidebar-red ng-cloak" ng-if="$state.current.name != 'coafPld.login'">
  <div class="static-sidebar" role="navigation">
    <div class="sidebar">
      <div class="widget" ng-cloak>
        <div class="widget-body">
          <div class="userinfo">
            <div class="avatar">
              <img masked-image src="http://placehold.it/64x64" class="img-responsive img-circle">
            </div>
            <div class="info">
              <span class="username">Thiago Brito</span>
              <span class="useremail">thiago.brito@wba.com.br</span>
            </div>
          </div>
        </div>
      </div>
      <div class="widget stay-on-collapse">
        <nav class="widget-body">
          <ul ng-controller="NavigationController" class="acc-menu" sticky-scroll="40">
            <li ng-repeat="item in menu track by $index"
                ng-class="{ hasChild: (item.children!==undefined),
                      active: item.selected,
                        open: (item.children!==undefined) && item.open,
                   'nav-separator': item.separator==true,
                        'search-focus': (searchQuery.length>0 && item.selected) }"
                ng-show="!(searchQuery.length && !item.selected)"
                ng-include="'views/templates/nav_renderer.html'"
            ></li>
          </ul>
        </nav>
      </div>
    </div>
  </div> <!-- #sidebar-->
</div>